.character {
    &-container {
        background-color: var(--bg);
        transform: scale(1);
        overflow: hidden;
        display: flex;
        // grid-template-columns: repeat(7, minmax(100px, 1fr));
        align-items: center;
        transition: all 0.3s ease-in-out;
    }


    &-indicator {
        width: 100%;
        height: 20px;
        background: var(--bg);
        transition: all 0.3s ease-in-out;
    }

    &-img {
        & {
            position: relative;
            transition: all 0.3s ease-in-out;
            opacity: 0.3;
            filter: saturate(0.3) brightness(0.5);
        }

        &-active {
            opacity: 1;
            filter: saturate(1) brightness(1);
        }

        >img {
            width: 150px;
            height: 320px;
            object-fit: cover;
        }

        .layer {
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            width: 100%;
            padding-block: 30px 15px;
            background: linear-gradient(0deg, var(--bg) 0% 30%, rgba(0, 0, 0, 0));

            &-cv {
                color: white;
            }

            &-name {
                font-size: 22px;
                font-weight: 900;
                color: white;
            }
        }
    }
}

.info {
    >img {
        width: 100%;
        height: 100%;
    }

    >div>h3 {
        margin-block: 5px;
    }

    display: grid;
    align-items: center;
    grid-template-columns: 100px auto;
    gap: 20px;
}

.audio {
    width: 50%;
}

.lyric {
    padding-block: 20px;
    line-height: 30px;
    font-size: 30px;
    // font-weight: 900;
    font-family: 'Courier New', Courier, monospace;

    &-animate {
        animation-name: lrc;
        display: block;
        animation-duration: 8s;
        animation-fill-mode: both;
        animation-timing-function: cubic-bezier(0.07, 0.26, 0.22, 0.77);
    }
}

@keyframes lrc {
    0% {
        opacity: 0;
        transform: translate(5%);
        filter: blur(5px);
    }

    10% {
        opacity: 1;
        filter: blur(0px);
    }

    100% {
        transform: translate(0%);
    }
}


.star-character {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 440px;

    >.img {
        width: 100%;
        height: 440px;
        position: absolute;
        overflow: hidden;
        opacity: 0;

        &[data-active="true"] {
            opacity: 1;
        }

        >.layer-lyric {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 5;
            font-size: 20px;
        }

        >.layer {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 5;

            >.layer-name {
                font-size: 27px;
                font-weight: 900;
                color: black;
            }

            >.layer-cv {
                font-size: 20px;
                color: black;
            }
        }

        >img {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            object-position: var(--x) var(--y);
            transition: all 0.3s ease-in-out;
        }
    }
}