.lyric {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 90px;
    font-size: 42px;
    font-weight: bolder;
    transition: all .3s;

    >.lrc {
        display: flex;
        width: 100%;
    }

    >.line {
        position: absolute;
        display: flex;
        top: 0;
        // opacity: 0;
        // display: none;
        // color: cyan;
        z-index: 2;

        >span {
            opacity: 0;
            display: none;
        }

        >span[data-active="true"] {
            opacity: 1;
            display: block;
            animation-name: lrc;
            animation-duration: 3s;
            animation-fill-mode: both;
            animation-timing-function: cubic-bezier(0.07, 0.26, 0.22, 0.77);
        }

        >.active {
            opacity: 1;
        }
    }
}

@keyframes lrc {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(0%);
    }
}