.lyric {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 600px;
    overflow: hidden;
    font-size: 42px;
    font-weight: bolder;
    transition: all .3s;

    >.lrc {
        display: flex;
        // width: 100%;
    }

    >.line {
        // position: absolute;
        display: flex;
        // flex-direction: column;

        color: blueviolet;
        top: 0;
        // opacity: 0;
        // display: none;
        z-index: 2;

        >span {
            display: block;
            opacity: 0.1;
            // transform: scale(1);
            // transform-origin: 0 0;
            transition: all 0.5s cubic-bezier(0.07, 0.26, 0.22, 0.77);
        }

        >span[data-active="true"] {
            opacity: 1;
            // transform: scale(1.2);
            animation-name: lrc;
            animation-duration: 3s;
            animation-fill-mode: both;
            animation-timing-function: cubic-bezier(0.07, 0.26, 0.22, 0.77);
        }

        >.active {
            opacity: 1;
        }
    }
}

@keyframes lrc {
    0% {
        opacity: 0.1;
        transform: scale(1);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.1);
    }
}