.header {
    &-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        >img {
            width: 40px;
        }

        >div {
            display: flex;
            flex-direction: column;

            :nth-child(1) {
                font-size: 16px;
                font-weight: 600;
            }

            :nth-child(2) {
                font-size: 14px;
                color: #999;
            }
        }
    }
}

.footer {
    display: flex;
    margin-inline: 20px;
    justify-content: center;

    >div {
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        >h2 {
            font-size: 20px;
            font-weight: 600;
        }

        >a {
            display: flex;
            align-items: center;
            gap: 5px;
            color: dodgerblue;
        }
    }
}